Repository shuttle-hq/shuttle, pull requests merged in 2023-08, with the labels that each got.

#1088 feat(runtime): add alpha runtime version check
  cargo-shuttle/src/lib.rs
  runtime/src/alpha/mod.rs
  runtime/src/bin/shuttle-next.rs
  runtime/src/lib.rs
Labels: A-cargo-shuttle, S, A-runtime

#1069 Update lib.rs
  cargo-shuttle/src/lib.rs
Labels: A-cargo-shuttle, XS

#1150 fix: secrets not updating
  DEVELOPING.md
  docker-compose.dev.yml
  runtime/src/resource_tracker.rs
Labels: A-runtime

#1151 fix: static folder is not updated
  resources/static-folder/src/lib.rs
Labels: A-resources

#1066 [Improvement]: Add list, remove, clear, and size operations to shuttle-persist
  resources/persist/.gitignore
  resources/persist/src/lib.rs
Labels: E-S, A-resources
