Repository shuttle-hq/shuttle, pull requests merged in 2023-06, with the labels that each got.

#960 feat: pre-installed build environment in deployer
  deployer/prepare.sh
Labels: Shuttle Batch, XS, A-deployer

#961 refactor: un-tangle crossterm/comfytable
  common/src/models/deployment.rs
  common/src/models/error.rs
  common/src/models/service.rs
Labels: A-common

#958 fix: Ignore span logs below WARN
  runtime/src/logger.rs
Labels: Shuttle Batch, XS, A-runtime

#966 fix: remove cargo-sort from CONTRIBUTING.md
  CONTRIBUTING.md
Labels: Shuttle Batch, XS

#922 feat(service): get rid of `cargo` dependency
  Cargo.lock
  Cargo.toml
  cargo-shuttle/src/lib.rs
  deployer/src/deployment/queue.rs
  deployer/src/handlers/mod.rs
  runtime/tests/integration/helpers.rs
  service/Cargo.toml
  service/src/builder.rs
  service/tests/integration/build_crate.rs
Labels: Shuttle Batch, M, A-service

#967 ci: bump pinned Rust to 1.70
  .circleci/config.yml
  Makefile
  common/Cargo.toml
  deployer/src/deployment/queue.rs
  shell.nix
Labels: Shuttle Batch, XS

#982 fix: logs --latest flipped order
  cargo-shuttle/src/lib.rs
Labels: A-cargo-shuttle, Shuttle Batch, XS

#943 feat(deployer): add more deployment metadata
  Cargo.lock
  cargo-shuttle/Cargo.toml
  cargo-shuttle/src/client.rs
  cargo-shuttle/src/lib.rs
  common/src/models/deployment.rs
  common/src/project.rs
  deployer/Cargo.toml
  deployer/migrations/0003_git.sql
  deployer/src/handlers/mod.rs
  deployer/src/persistence/deployment.rs
  deployer/src/persistence/mod.rs
Labels: Shuttle Batch, M

#879 feat: switch from native-tls to rustls
  Cargo.lock
  Cargo.toml
  auth/Cargo.toml
  cargo-shuttle/Cargo.toml
  common/Cargo.toml
  deployer/Cargo.toml
  e2e/Cargo.toml
  gateway/Cargo.toml
  provisioner/Cargo.toml
  shell.nix
Labels: Shuttle Batch, S

#998 fix: re-add `--version` flag
  Cargo.lock
  runtime/src/bin/shuttle-next.rs
Labels: XS, A-runtime, A-shuttle-next

#985 Add commands cookbook to cargo-shuttle --help
  cargo-shuttle/src/args.rs
Labels: A-cargo-shuttle, XS, A-docs

#1006 feat(secrets): Implement into_iter for SecretStore
  common/src/lib.rs
Labels: Shuttle Batch, XS, A-common, A-resources

#993 provide better error message
  runtime/src/alpha/mod.rs
Labels: A-cargo-shuttle, XS

#984 feat: shuttle init --from
  Cargo.lock
  Cargo.toml
  cargo-shuttle/Cargo.toml
  cargo-shuttle/src/args.rs
  cargo-shuttle/src/init.rs
  cargo-shuttle/src/lib.rs
  cargo-shuttle/src/main.rs
  cargo-shuttle/tests/integration/init.rs
  cargo-shuttle/tests/integration/main.rs
  cargo-shuttle/tests/integration/run.rs
Labels: A-cargo-shuttle, Shuttle Batch

#1039 fix: Target directory from config, Windows .exe suffix
  deployer/src/deployment/queue.rs
  service/src/builder.rs
Labels: A-cargo-shuttle, Shuttle Batch, XS

#987 feat: add new deployment metadata to table
  common/src/models/deployment.rs
  deployer/src/persistence/deployment.rs
Labels: A-cargo-shuttle, A-deployer

#1012 fix(runtime): Remove 2s startup sleep
  CONTRIBUTING.md
  README.md
  cargo-shuttle/src/lib.rs
  deployer/README.md
  deployer/src/deployment/queue.rs
  proto/src/lib.rs
  resources/static-folder/src/lib.rs
  service/src/lib.rs
Labels: A-cargo-shuttle, Shuttle Batch, S, A-proto

#1013 chore: move codegen::main from service to runtime
  Cargo.lock
  Cargo.toml
  resources/aws-rds/Cargo.toml
  resources/persist/Cargo.toml
  resources/persist/src/lib.rs
  resources/secrets/Cargo.toml
  resources/shared-db/Cargo.toml
  resources/static-folder/Cargo.toml
  runtime/Cargo.toml
  runtime/src/lib.rs
  service/Cargo.toml
  service/src/lib.rs
Labels: Shuttle Batch, S, A-service, A-runtime

#989 fix: dockerfile and ci improvements
  .circleci/config.yml
  Containerfile
  README.md
  auth/prepare.sh
  deployer/prepare.sh
  extras/postgres/Containerfile
  gateway/prepare.sh
  provisioner/prepare.sh
  service/src/builder.rs
Labels: Shuttle Batch, S, A-deployer

#980 Attempt at fixing sporadic failures of `shuttle-deployer`
  deployer/src/deployment/deploy_layer.rs
  deployer/src/deployment/mod.rs
  deployer/src/deployment/queue.rs
  deployer/src/deployment/run.rs
  deployer/src/lib.rs
Labels: Shuttle Batch, M, A-deployer
