Repository shuttle-hq/shuttle, pull requests merged in 2023-05, with the labels that each got.

#792 fix: shuttle init --template, reorder subcommands, fix bugs
  cargo-shuttle/src/args.rs
  cargo-shuttle/src/config.rs
  cargo-shuttle/src/init.rs
  cargo-shuttle/src/lib.rs
  cargo-shuttle/tests/integration/init.rs
Labels: Breaking Change, cargo-shuttle

#852 build(docker): Change default provisioner port to 3000
  CONTRIBUTING.md
  deployer/src/args.rs
  docker-compose.dev.yml
  runtime/src/alpha/args.rs
Labels: SB2

#855 chore: add `.editorconfig`
  .editorconfig
Labels: SB2, XS

#858 fix: `make test`
  CONTRIBUTING.md
  e2e/tests/integration/helpers/mod.rs
Labels: SB2

#854 fix: some panic messages get lost
  runtime/src/alpha/mod.rs
  runtime/tests/integration/loader.rs
  runtime/tests/resources/bind-panic-owned/Cargo.toml
  runtime/tests/resources/bind-panic-owned/src/main.rs
  runtime/tests/resources/loader-panic-owned/Cargo.toml
  runtime/tests/resources/loader-panic-owned/src/main.rs
  runtime/tests/resources/loader-panic/Cargo.toml
  runtime/tests/resources/loader-panic/src/main.rs
Labels: SB2, S

#878 feat(Makefile): add option to disable --detach on make up
  CONTRIBUTING.md
  Makefile
Labels: SB2, XS

#887 revert: revert #886
  auth/Cargo.toml
  auth/src/api/handlers.rs
  auth/src/lib.rs
  auth/src/user.rs
Labels: A-auth

#870 add option to use rustls instead of native-tls in `shuttle-shared-db`
  .circleci/config.yml
  resources/shared-db/Cargo.toml
  resources/shared-db/README.md
  resources/shared-db/src/lib.rs
Labels: Shuttle Batch, S, A-resources

#885 Match doc links with Shuttle Service current doc url
  codegen/src/shuttle_main/mod.rs
  codegen/tests/ui/main/missing-return.stderr
  codegen/tests/ui/main/return-tuple.stderr
Labels: Shuttle Batch, XS, A-docs

#880 Update/syn 2.0
  Cargo.lock
  codegen/Cargo.toml
  codegen/src/next/mod.rs
  codegen/src/shuttle_main/mod.rs
Labels: Shuttle Batch, S, A-codegen

#897 chore: update aws crates
  Cargo.lock
  provisioner/Cargo.toml
  provisioner/src/error.rs
  provisioner/src/lib.rs
Labels: Shuttle Batch, XS, A-provisioner, A-resources

#907 feat: show output of failed tests
  Cargo.lock
  deployer/Cargo.toml
  deployer/src/deployment/queue.rs
  deployer/src/error.rs
Labels: Shuttle Batch, A-deployer

#857 feat: allow resetting a user's API-key
  Cargo.toml
  auth/Cargo.toml
  auth/src/api/builder.rs
  auth/src/api/handlers.rs
  auth/src/user.rs
  auth/tests/api/users.rs
  cargo-shuttle/src/args.rs
  cargo-shuttle/src/client.rs
  cargo-shuttle/src/lib.rs
  gateway/src/api/auth_layer.rs
Labels: A-cargo-shuttle, Shuttle Batch, S, A-auth, A-gateway

#915 suggest next logical command
  cargo-shuttle/src/lib.rs
Labels: A-cargo-shuttle, Shuttle Batch, S

#906 [scaling] feat: create a resource service
  Cargo.lock
  Cargo.toml
  codegen/Cargo.toml
  common/src/backends/auth.rs
  common/src/claims.rs
  deployer-alpha/src/deployment/mod.rs
  deployer-alpha/src/deployment/run.rs
  deployer-alpha/src/handlers/mod.rs
  deployer-alpha/src/lib.rs
  deployer-alpha/src/persistence/mod.rs
  deployer-alpha/src/persistence/resource/database.rs
  deployer-alpha/src/persistence/resource/mod.rs
  proto/resource-recorder.proto
  proto/src/generated/resource_recorder.rs
  proto/src/lib.rs
  proto/tests/bootstrap.rs
  provisioner/Cargo.toml
  provisioner/src/lib.rs
  resource-recorder/Cargo.toml
  resource-recorder/migrations/0000_init.sql
  resource-recorder/src/args.rs
  resource-recorder/src/dal.rs
  resource-recorder/src/lib.rs
  resource-recorder/src/main.rs
  resource-recorder/src/type/database.rs
  resource-recorder/src/type/mod.rs
  resource-recorder/tests/integration_tests.rs
Labels: P-high, A-resources

#904 deployer(MockedBuilder): push to container registry
  Cargo.lock
  Cargo.toml
  cargo-shuttle/Cargo.toml
  deployer/Cargo.toml
  deployer/README
  deployer/src/api/mod.rs
  deployer/src/builder/Containerfile
  deployer/src/builder/README
  deployer/src/builder/error.rs
  deployer/src/builder/mod.rs
  deployer/src/builder/oci/distribution/auth.rs
  deployer/src/builder/oci/distribution/client.rs
  deployer/src/builder/oci/distribution/mod.rs
  deployer/src/builder/oci/distribution/name.rs
  deployer/src/builder/oci/distribution/reference.rs
  deployer/src/builder/oci/error.rs
  deployer/src/builder/oci/image/annotations.rs
  deployer/src/builder/oci/image/digest.rs
  deployer/src/builder/oci/image/mod.rs
  deployer/src/builder/oci/mod.rs
  deployer/src/handlers/error.rs
  deployer/src/handlers/mod.rs
Labels: A-deployer, P-urgent

#932 fix(gateway): handle certificate expiration as well
  gateway/src/service.rs
Labels: A-gateway

#924 feat(shuttle-axum) Make AxumService generic to be able to use state
  services/shuttle-axum/src/lib.rs
Labels: Shuttle Batch, XS, A-service

#942 Update Cargo.lock
  Cargo.lock
Labels: XS

#929 fix: --name was ignored when not running from cargo folder
  cargo-shuttle/src/config.rs
Labels: A-cargo-shuttle, XS

#931 fix: log files packed in archive
  cargo-shuttle/src/lib.rs
Labels: A-cargo-shuttle, XS

#946 refactor: sanitize all path on the user's proxy
  Cargo.lock
  gateway/Cargo.toml
  gateway/src/proxy.rs
Labels: improvement, A-gateway
